
<% if @student.comments.any? %>
<div class="comments-container ">
	<% @student.comments.reverse.each do |comment| %>
		
		<div class="comment-content">
		<% if current_user.id == comment.user_id %>
				<%= link_to "<i class=\"fas fa-trash-alt\"></i>".html_safe, student_comment_path(@student, comment), :method => "delete", :class => "destroy" %>
				<%= link_to "<i class=\"fas fa-pencil-alt\"></i>".html_safe, student_comment_path(@student,comment, :class =>"") %>
			<% end %>

			<p class="commentContent"><%= comment.content %> - <small class="commentUsername"><strong><%= comment.user.username %></strong></small></p>
		</div>
	
	<% end %>
</div>
<% end %>

<p class="test"></p>

<%= form_tag student_comments_path(@student), {class: "student-comment-form"} do %>
	<%= label_tag "Post a comment" %> <br>
	<%= text_area_tag 'comment[content]' %> <br>
	<%= submit_tag "Post" %>
<% end %> 

<script type="text/javascript">
$(function(){
	class Comment {
	  constructor(content, author_id) {
	    this.content = content;
	    this.author_id = author_id;
	  }

	  sayHello() {
	    console.log(`Hello, my content is ${this.content}, and my author_id is ${this.author_id}`);
	  }
	}

	$('.student-comment-form').on('submit', function(event){
		event.preventDefault();
		let $form = $(this)
		
		$.ajax( {
	      type: "POST",
	      dataType: 'json',
	      url: $form.attr( 'action' ),
	      data: $form.serialize(),
	      success: function( response ) {
	        let comment = new Comment(response.content, response.user_id);
	        comment.sayHello();
	      }
	    } );
		return false;

	})
})
</script>