<h2><%= @section.course.course_name %></h2>
<h4><%= @section.course.course_number %>.<%= @section.section_number %></h4>
<h4><%= @section.room %></h4>
<p><%= link_to @section.teacher.lastfirst, teacher_path(@section.teacher) %></p>
<p><a href="mailto:<%= @section.teacher.email %>" target="_blank"><%= @section.teacher.email %></a></p>

<div class="canvas-wrapper">
    <div class="canvas-1">
        <canvas id="barChartDiv"></canvas>
    </div>

    <div class="canvas-2">
        <canvas id="radarChartDiv"></canvas>
    </div>
</div>

<% @section.comments_per_student(@student).each do |comment| %>

    <a class="trigger_popup_fricc <%= comment[:semester] %>"><%= comment[:semester]%> Comment</a>
    <!-- BEGIN Comment popup box -->
    <div class="hover_bkgr_fricc <%= comment[:semester] %>">
        <span class="helper"></span>
        <div>
            <div class="popupCloseButton">X</div>
            <p><%= comment[:content] %> - <small><b><%= @section.teacher.lastfirst %></b></small></p>
        </div>
    </div>
    <!-- END Comment popup box -->
<% end %>

<%= content_tag :div, class: "student-section-grades", data: {s1: @section.grades_per_semester_per_student("S1", @student), s2: @section.grades_per_semester_per_student("S2", @student)} do %>
<% end %>
