<div class="page">
	<div class="left-page">
		<div class="student-sections">
			<div class="section-group">
				<% @sections.reject{|section| section.core?}[4..-1].each do |section| %>
					<div class="section core">
						<div class="section-header">
							<span class="course-name"><%= section.course.course_name %></span> - 
							<span class="instructor-name"><%= section.teacher.lastfirst %></span><br>
						</div>
						<table class="es-grades-table">
							<tr>
								<th><strong>Academic Standards</strong></th>
								<th>S1</th>
								<th>S2</th>
							</tr>
							<% @student.grades_per_section(section).each do |grade| %>
								<% if !grade.standard.hom? && grade.standard.description === "Reporting Standard"%>
								<tr>
									<% if grade.pe? %>
										<td class="standard-name"><span class="standard-name"><%= grade.pe_standard_name %></span></td>
										<td><%= grade.grade %></td>
									<% else %>
										<td class="standard-name"><span class="standard-name"><%= grade.standard.standard_name %></span></td>
										<td><%= grade.grade %></td>
									<% end %>
								</tr>
								<% end %>
							<% end %>
							<tr>
								<td><strong>Habits of Mind</strong></td>
							</tr>
							<% @student.grades_per_section(section).each do |grade| %>
								<% if grade.standard.hom? %>
								<tr>
									<td class="standard-name"><span class="standard-name"><%= grade.standard.standard_name %></span></td>
									<td><%= grade.grade %></td>
								</tr>
								<% end %>
							<% end %>
							
						</table>
						
						<span><strong>Comments:</strong> 
						<% if section.semester_comment_per_student(@student).present? %>
							<%= section.semester_comment_per_student(@student).content %>
							<% end %>
						<!-- Lorem ipsum dolor amet ugh tofu portland, shabby chic
							craft beer cronut flexitarian vexillologist edison bulb green juice. Cronut chambray coloring book, vaporware vape narwhal man bun. Migas paleo authentic keytar next level. Mixtape vegan chambray, pork belly taiyaki wayfarers kinfolk tousled. Lo-fi kitsch vape
							knausgaard, humblebrag sustainable activated charcoal chartreuse
							Lorem ipsum dolor amet ugh tofu portland, shabby chic craft beer cronuLo-fi kitsch vape knausgaard, humblebrag sustainable
							activated charcoal chartreuse Lorem ipsum dolor amet ugh tofu
							portland, shabby chic craft beer cronuLorem ipsum dolor amet ugh
							tofu portland,Lorem ipsum dolor amet ugh tofu portland, shabby chic craft beer cronuLo-fi kitsch vape knausgaard, humblebrag sustainable
							activated charcoal chartreuse Lorem ipsum dolor amet ugh tofu
							portland, shabby chic craft beer cronuLorem ipsum dolor amet ugh
							tofu portland,Lorem ipsum dolor amet ugh tofu portland, shabby chic craft
							tofu portland, END!! END!! END!! -->
						</span>
					</div>
				
				<% end %>
			</div>
		</div>
		<% if @sections.count < 11 %>
			<div class="ms-big-logo" >
				<%= image_tag wicked_pdf_asset_base64('ris-big-logo.svg') %>
			</div>
		<% end %>
	</div>
	<div class="right-page">
		<div class="ms-header">
			<div id="header">
	    	<%= image_tag wicked_pdf_asset_base64('ris-header.svg'), class: 'reportcard-header-image' %>
	    	</div>
			<h2><%= @student.school.name %></h2>
			<h3>Semester 1 Report Card 2018-19</h3>
		</div>
		<hr>
		<div class="div-container">
			<div class="left-div student-photo-container">
				<%= image_tag wicked_pdf_asset_base64("#{@student.student_number}ph.jpg"), class: 'student-reportcard-image' %>
			</div>
			<div class="middle-div student-text-info">
				<span class="student-name"><%= @student.lastfirst %></span><br></br>
				<span>ID: <%= @student.student_number %></span><br></br>
				<!-- <span>Advisory Teacher: <%= @student.homeroom.teacher.lastfirst %></span> -->
			</div>
			<div class="right-div student-text-right">
				<span>Grade <%= @student.grade_level %></span><br></br>
				<span>December 18th, 2018</span>
			</div>
		</div>

		<div class="pop">
			<h4>Principles of the Phoenix</h4>
			<span>Head, Hands, and Heart</span>
			<p class="pop-motto">RIS students are creative, open minded and critical thinkers. They are effective communicators and are collaborative and resourceful individuals; they embrace diversity. They are committed to leading happy and healthy lives and help others to do the same.</p>
			<hr>
			<h4><strong>Advisory Comments</strong> - <small><span class="instructor-name"><%= @student.homeroom.teacher.lastfirst %></span></small></h4>
			<p class="advisory-comment-text">
				<% if @student.ms_homeroom_semester_comment.present? %>
					<%= @student.ms_homeroom_semester_comment.content %>
				<% end %>
	 			<!-- Lorem ipsum dolor amet ugh tofu portland, shabby chic
				craft beer cronut flexitarian vexillologist edison bulb green juice. Cronut chambray coloring book, vaporware vape narwhal man bun. Migas paleo authentic keytar next level. Mixtape vegan chambray, pork belly taiyaki wayfarers kinfolk tousled. Lo-fi kitsch vape
				knausgaard, humblebrag sustainable activated charcoal chartreuse
				Lorem ipsum dolor amet ugh tofu portland, shabby chic craft beer cronuLo-fi kitsch vape knausgaard, humblebrag sustainable
				activated charcoal chartreuse Lorem ipsum dolor amet ugh tofu
				portland, shabby chic craft beer cronuLorem ipsum dolor amet ugh
				tofu portland,Lorem ipsum dolor amet ugh tofu portland, shabby chic craft beer cronuLo-fi kitsch vape knausgaard, humblebrag sustainable
				activated charcoal chartreuse Lorem ipsum dolor amet ugh tofu
				portland, shabby chic craft beer cronuLorem ipsum dolor amet ugh
				tofu portland,Lorem ipsum dolor amet ugh tofu portland, shabby chic craft
				tofu portland, END!! END!! END!! -->
			</p>
		</div>
		<table align="center">
			<tr>
				<th>Course Name</th>
				<th>Section</th>
				<th>Term</th>
				
				<th>Teacher</th>
				<th>Email</th>
			</tr>
			<% @student.sections_per_semester(2801).each do |section| %>
			<tr>
				<td><%= section.course.course_name %></td>
				<td><%= section.section_number %></td>
				<td><%= section.semester %></td>
				<td><%= section.teacher.lastfirst %></td>
				<td><%= section.teacher.email %></td>
			</tr>
			<% end %>
		</table>
		<div class="staff-info-container">
			<div class="admin-info">
				<h4>Administration</h4>
				<ul>
					<li><strong>MS Principal</strong> - Ms. Gretchen DePoint</li>
					<li><strong>MS Vice Principal</strong> - Mr. Mathias Sanders</li>
					<li><strong>MS Counselor</strong> - Ms. Caroline Scott</li>
				</ul>
			</div>
			<div class="secretary-info">
				<h4>Secretaries</h4>
				<ul>
					<li><strong>MS Principal Secretary</strong> - Ms. Kanpirom (Nok) Sarikabhuti</li></li>
					<li><strong>MS Vice Principal Secretary</strong> - Ms. Thanupat (Pui) Fletcher</li></li>
					<li><strong>MS Counseling Secretary</strong> - Ms. Kwanta (Nong) Horthiwong</li></li>
				</ul>
			</div>
		</div>
		<div class="eval-key">
			<h4>Evaluation Key</h4>
			<ul>
				<li><strong>E:</strong> Exemplary – The student exhibits in-depth inferences and applications that go beyond what was taught.</li>
				<li><strong>M:</strong> Meeting Standard – The student exhibits no major errors or omissions.</li>
				<li><strong>P:</strong> Progressing – The student exhibits no major errors or omissions regarding the simpler details and processes
   				but exhibits errors regarding the more complex ideas and processes.</li>
				<li><strong>B:</strong> Below Standard – With assistance, a partial understanding of some of both the simpler and more complex
				details and processes.</li>
				<li><strong>N:</strong> Insufficient Evidence – This standard has not yet been assessed or evaluated to a level which gives the
				teacher an accurate measure of the student's achievement.</li>
				
			</ul>
		</div>
	</div>
</div>
<div class="page">
	<div class="left-page">
		<div class="student-sections">
			<div class="section-group">
				<!-- <h2>Core Courses</h2> -->
				<% @sections.each do |section| %>
					<% if section.core? %>
						<div class="section core">
							<div class="section-header">
								<span class="course-name"><%= section.course.course_name %></span> - 
								<span class="instructor-name"><%= section.teacher.lastfirst %></span><br>
							</div>
							<table class="es-grades-table">
								<tr>
									<th><strong>Academic Standards</strong></th>
									<th>S1</th>
									<th>S2</th>
								</tr>
								<% @student.grades_per_section(section).each do |grade| %>
									<% if !grade.standard.hom? && grade.standard.description === "Reporting Standard"%>
									<tr>
										<td class="standard-name"><span class="standard-name"><%= grade.standard.standard_name %></span></td>
										<td><%= grade.grade %></td>
									</tr>
									<% end %>
								<% end %>
								<tr>
									<td><strong>Habits of Mind</strong></td>
								</tr>
								<% @student.grades_per_section(section).each do |grade| %>
									<% if grade.standard.hom? && grade.standard.description === "Reporting Standard"%>
									<tr>
										<td class="standard-name"><span class="standard-name"><%= grade.standard.standard_name %></span></td>
										<td><%= grade.grade %></td>
									</tr>
									<% end %>
								<% end %>
								
							</table>
							<span><strong>Comments:</strong> 
							<% if section.semester_comment_per_student(@student).present? %>
							<%= section.semester_comment_per_student(@student).content %>
							<% end %>
							<!-- Lorem ipsum dolor amet ugh tofu portland, shabby chic
							craft beer cronut flexitarian vexillologist edison bulb green juice. Cronut chambray coloring book, vaporware vape narwhal man bun. Migas paleo authentic keytar next level. Mixtape vegan chambray, pork belly taiyaki wayfarers kinfolk tousled. Lo-fi kitsch vape
							knausgaard, humblebrag sustainable activated charcoal chartreuse
							Lorem ipsum dolor amet ugh tofu portland, shabby chic craft beer cronuLo-fi kitsch vape knausgaard, humblebrag sustainable
							activated charcoal chartreuse Lorem ipsum dolor amet ugh tofu
							portland, shabby chic craft beer cronuLorem ipsum dolor amet ugh
							tofu portland,Lorem ipsum dolor amet ugh tofu portland, shabby chic craft beer cronuLo-fi kitsch vape knausgaard, humblebrag sustainable
							activated charcoal chartreuse Lorem ipsum dolor amet ugh tofu
							portland, shabby chic craft beer cronuLorem ipsum dolor amet ugh
							tofu portland,Lorem ipsum dolor amet ugh tofu portland, shabby chic craft
							tofu portland, END!! END!! END!! -->
							</span>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
		<span class="student-footer-details"><%= @student.lastfirst %> - <%= @student.student_number %></span>
	</div>
	<div class="right-page">
		<div class="student-sections">
			<div class="section-group">
				<% @sections.reject{|section| section.core?}[0..3].each do |section| %>
					<div class="section core">
						<div class="section-header">
							<span class="course-name"><%= section.course.course_name %></span> - 
							<span class="instructor-name"><%= section.teacher.lastfirst %></span><br>
						</div>
						<table class="es-grades-table">
							<tr>
								<% if section.academic_standards? %>
									<th><strong>Academic Standards</strong></th>
								<% else %>
									<th></th>
								<% end %>
								<th>S1</th>
								<th>S2</th>
							</tr>
							<% @student.grades_per_section(section).each do |grade| %>
								<% if !grade.standard.hom? && grade.standard.description === "Reporting Standard" %>
								<tr>
									<% if grade.pe? %>
										<td class="standard-name"><span class="standard-name"><%= grade.pe_standard_name %></span></td>
										<td><%= grade.grade %></td>
									<% else %>
										<td class="standard-name"><span class="standard-name"><%= grade.standard.standard_name %></span></td>
										<td><%= grade.grade %></td>
									<% end %>
								</tr>
								<% end %>
							<% end %>
							<tr>
								<td><strong>Habits of Mind</strong></td>
							</tr>
							<% @student.grades_per_section(section).each do |grade| %>
								<% if grade.standard.hom? && grade.standard.description === "Reporting Standard"%>
								<tr>
									<td class="standard-name"><span class="standard-name"><%= grade.standard.standard_name %></span></td>
									<td><%= grade.grade %></td>
								</tr>
								<% end %>
							<% end %>
							
						</table>
						
						<span><strong>Comments:</strong> 
							<% if section.semester_comment_per_student(@student).present? %>
							<%= section.semester_comment_per_student(@student).content %>
							<% end %>
						<!-- Lorem ipsum dolor amet ugh tofu portland, shabby chic
							craft beer cronut flexitarian vexillologist edison bulb green juice. Cronut chambray coloring book, vaporware vape narwhal man bun. Migas paleo authentic keytar next level. Mixtape vegan chambray, pork belly taiyaki wayfarers kinfolk tousled. Lo-fi kitsch vape
							knausgaard, humblebrag sustainable activated charcoal chartreuse
							Lorem ipsum dolor amet ugh tofu portland, shabby chic craft beer cronuLo-fi kitsch vape knausgaard, humblebrag sustainable
							activated charcoal chartreuse Lorem ipsum dolor amet ugh tofu
							portland, shabby chic craft beer cronuLorem ipsum dolor amet ugh
							tofu portland,Lorem ipsum dolor amet ugh tofu portland, shabby chic craft beer cronuLo-fi kitsch vape knausgaard, humblebrag sustainable
							activated charcoal chartreuse Lorem ipsum dolor amet ugh tofu
							portland, shabby chic craft beer cronuLorem ipsum dolor amet ugh
							tofu portland,Lorem ipsum dolor amet ugh tofu portland, shabby chic craft
							tofu portland, END!! END!! END!! -->
						</span>
					</div>
				
				<% end %>
			</div>
		</div>
	</div>
</div>
