<div class="student-show-container" data="<%=@student.id%>">

	<!-- data visualizations -->
	<div class="student-info-container">
		<div class="student-photo">
			<%= image_tag "#{@student.student_number}ph.jpg", alt: "Student Image" %><a href="#" class="search-icon"><i class="fas fa-search-plus"></i></a>
		</div>
		<div class="student-info">
			<h2><%= @student.lastfirst %></h2>
			 <p>Student Number: <%= @student.student_number %></p>
			 <p>Grade: <%= @student.grade_level %></p>
		</div>
		<div class="student-donut">
			<h5>All Standards for 18-19</h5>
			<div class="student-donut-wrapper">
				<div class="student-doughnut-homs"><canvas id="student-doughnut-homs"></canvas></div>
				<div class="student-doughnut-homs"><canvas id="student-doughnut-standards"></canvas></div>
			</div>
		</div>
	</div>

	<div class="student-nav-container">
		<ul>
			<li><a class="student-comments-link" href="#">Comments</a></li>
			<li><a class="schedule-matrix-link" href='#'>Schedule Matrix</a></li>
			<li><a class="student-report-cards-link" href="#">Report Cards</a></li>
			<li><a class="student-sections-link" href='#'>Sections</a></li>
			<li><a class="student-map-link" href='#'>Map Data</a></li>
			<li><%=link_to "Writing Sample", asset_path("student-writing-sample.pdf"), target: "_blank"%></li>
		</ul>
	</div>

	<div class="student-data-container">
		<!-- <canvas id="map-chart"></canvas> -->
		<p>Loading Sections...</p>
	</div>

		
<%= content_tag :div, class: "student_list", id: "studentshow", data: {homs: @all_homs, standards: @all_standards} do %>
<%end%>




