
<div class="main-container container">
<h1><%= @student.lastfirst %> - <%= @student.student_number %> - Grade <%= @student.gradelevel %> </h1>

<button class="comments_button"><%= link_to "Add Comments", student_comments_path(@student) %></button>

<%= content_tag :div, class: "student_list", id: "studentshow", data: {student: @s1_data_hash} do %>
<%end%>
<h2>Semester 1 for school year 17-18 </h2>

<% @s1_data_hash.each.with_index(1) do |course, i| %>

	<div class="class-graphs-container col">
		<div class="row well"><canvas id="barChart<%= i %>"></canvas></div>
		<div class="row well"><canvas id="radarChart<%= i %>"></canvas></div>
	</div>

<% end %>

<canvas id="map-chart"></canvas>


</div>
