<div class="student-show-container" data="<%=@student.id%>">

	<!-- data visualizations -->
	<div class="student-info-container">
		<div class="student-photo">
			<%= image_tag "2801ph.jpeg" %>
		</div>
		<div class="student-info">
			<h2><%= @student.lastfirst %></h2>
			 <p>Student Number: <%= @student.student_number %></p>
			 <p>Grade: <%= @student.gradelevel %></p>
		</div>
		<div class="student-donut">
			<canvas id="student-doughnut"></canvas>
		</div>
	</div>

	<div class="student-nav-container">
		<ul>
			<li><%= link_to "Enter Grades", new_student_grade_path(@student) %></li>
			<li><a class="schedule-matrix-link" href='#'>See Schedule Matrix</a></li>
			<li><a class="schedule-bell-link" href='#'>See Bell Schedule</a></li>
			<li><a class="student-sections-link" href='#'>See Sections</a></li>
			<li><a class="student-map-link" href='#'>See Map Data</a></li>
		</ul>
	</div>

	<div class="student-data-container">
		<canvas id="map-chart"></canvas>
	</div>

		
<%= content_tag :div, class: "student_list", id: "studentshow", data: {student: @all_grades} do %>
<%end%>


<script type="text/javascript">
$(function(){

	let student_id = $('.student-show-container').attr("data");

	// Doughnut Chart ////////////////////////////////////////////
	let all_grades = $('#studentshow').data('student');
	let ND = all_grades.filter(function(grade){return grade.grade === "0"}).length
	let B = all_grades.filter(function(grade){return grade.grade === "1"}).length
	let P = all_grades.filter(function(grade){return grade.grade === "2"}).length
	let M = all_grades.filter(function(grade){return grade.grade === "3"}).length
	let E = all_grades.filter(function(grade){return grade.grade === "4"}).length
	console.log(E)
	let ctx = $('#student-doughnut');
	let data = {
		    datasets: [{
		        data: [ND, B, P, M, E],
		        label: "S1",
                backgroundColor: ['#616A72','#A8271E', '#F8DA06','#007CC6', '#249D3D'], 
                borderColor: '#FFFFFF',
                borderWidth: 1
		    }],

		    // These labels appear in the legend and in the tooltips when hovering different arcs
		    labels: ['ND','B','P','M','E']
		};

	let myDoughnutChart = new Chart(ctx, {
	    type: 'doughnut',
	    data: data,
	    options: {
	    	legend: {
	    		position: 'right'
	    	},
	    	title: {
	    		display: true,
	    		text: "Standards so far 18-19",
	    		position: 'top'
	    	}

	    }
	});
	// End Doughnut Chart ///////////////////////////////////////

	$('.schedule-matrix-link').on("click", function(event){
		event.preventDefault()
		
		$.get(`/students/${student_id}/schedule`, function(response){
			$('.student-data-container').html(response)
		})
	});

	$('.student-map-link').on("click", function(event){
		event.preventDefault();
		$.get(`/students/${student_id}/map`, function(response){
			$('.student-data-container').html(response)
		})
	})

	$('.student-sections-link').on("click", function(event){
		event.preventDefault();
		$.get(`/students/${student_id}/sections`, function(response){
			$('.student-data-container').html(response)
		}).done(function(data){
			$('.student-section-link').on("click", function(event){
				event.preventDefault();
				let section_id = $(this).attr('id')
				$.get(`/students/${student_id}/sections/${section_id}`, function(response){
					// still need to fix this reponse partial
					// $('.student-data-container').html(response)
				})
			});
		})

	})


});
	


</script>
