<div class="student-show-container" data="<%=@student.id%>">

	<!-- data visualizations -->
	<div class="student-info-container">
		<div class="student-photo">
			<%= image_tag "2801ph.jpeg" %>
		</div>
		<div class="student-info">
			<h2><%= @student.lastfirst %></h2>
			 <p>Student Number: <%= @student.student_number %></p>
			 <p>Grade: <%= @student.gradelevel %></p>
		</div>
		<div class="student-donut">
			<p>Donut graph here</p>
		</div>
	</div>

	<div class="student-nav-container">
		<ul>
			<li><%= link_to "Enter Grades", new_student_grade_path(@student) %></li>
			<li><a class="schedule-matrix-link" href='#'>See Schedule Matrix</a></li>
			<li><a class="schedule-bell-link" href='#'>See Bell Schedule</a></li>
			<li><a class="student-sections-link" href='#'>See Sections</a></li>
			<li><a class="student-map-link" href='#'>See Map Data</a></li>
		</ul>
	</div>

	<div class="student-data-container">
		<canvas id="map-chart"></canvas>
	</div>

		<!-- Comments form and comment stream -->
<!-- 		
</div>
<%#= content_tag :div, class: "student_list", id: "studentshow", data: {student: @data_hash} do %>
<%#end%>
 -->
</div>

<script type="text/javascript">
$(function(){
	let student_id = $('.student-show-container').attr("data");

	$('.schedule-matrix-link').on("click", function(event){
		event.preventDefault()
		
		$.get(`/students/${student_id}/schedule`, function(response){
			$('.student-data-container').html(response)
		})
	});

	$('.student-map-link').on("click", function(event){
		event.preventDefault();
		$.get(`/students/${student_id}/map`, function(response){
			$('.student-data-container').html(response)
		})
	})

	$('.student-sections-link').on("click", function(event){
		event.preventDefault();
		$.get(`/students/${student_id}/sections`, function(response){
			$('.student-data-container').html(response)
		})
	})


});
	


</script>
