<div class="student-show-container">

	<div class="student-nav-container">
		<ul>
			<li><%= link_to "Enter Grades", new_student_grade_path(@student) %></li>
			<li><a href='/students/<%=@student.id%>/schedule'>See Schedule Matrix</a></li>
			<li><a href='/students/<%=@student.id%>/bell_schedule'>See Bell Schedule</a></li>
		</ul>
	</div>

	<!-- data visualizations -->
	<div class="student-info-container">
		<div class="student-photo">
			<%= image_tag "2801ph.jpeg" %>
		</div>
		<div class="student-info">
			<h2><%= @student.lastfirst %></h2>
			 <p>Student Number: <%= @student.student_number %></p>
			 <p>Grade: <%= @student.gradelevel %></p>
		</div>
		<div class="student-donut">
			<p>Donut graph here</p>
		</div>
	</div>

	<div class="student-map-container">
		<canvas id="map-chart"></canvas>
	</div>

		<!-- Comments form and comment stream -->


<!-- 		
</div>
<%#= content_tag :div, class: "student_list", id: "studentshow", data: {student: @data_hash} do %>
<%#end%>
 -->
</div>

<script type="text/javascript">
	


</script>
