<h1><%= @student.lastfirst %></h1>
<%= content_tag :div, class: "student_list", id: "studentshow", data: {student: @data_hash} do %>
<%end%>
<!-- <div id="chart_div"></div> -->
<canvas id="barChart"></canvas>
<canvas id="radarChart"></canvas>

<h3>Final Standards for year 17-18:</h3>
<ol>
	<% @student.grades.group(:standard_id).each do |grade| %>
		<li><%= grade.standard.identifier %> - <%= grade.standard.standardname %> - <%= grade.grade %></li>
	<% end %>
</ol>



