
<div class="main-container container">
	<h1><%= @student.lastfirst %> - <%= @student.student_number %> - Grade <%= @student.gradelevel %> </h1>

<div class="flex-container">

		<!-- data visualizations -->
		<div class="graphs-container clearfix">
			<%= link_to "Enter Grades", new_student_grade_path(@student) %>
			<div class="graph-grid row">
				<% @s1_data_hash.each.with_index(1) do |course, i| %>
					<% if course.present? %>
						<div class="class-graph col">
							<div class=""><canvas id="barChart<%= i %>"></canvas></div>
							<div class=""><canvas id="radarChart<%= i %>"></canvas></div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>

		<!-- <canvas id="map-chart"></canvas> -->
		

		<!-- Comments form and comment stream -->
		<div class="comments col" id="comments">
			<%= form_tag student_comments_path(@student) do %>

				<%= label_tag "Post a comment" %> <br>
			  <%= text_area_tag 'comment[content]' %> <br>

			  <%= submit_tag "Post" %>
			<% end %>

			<% if @student.comments.any? %>
				<% @student.comments.each do |comment| %>
				<div class="row">
					<p><%= comment.content %> - <%= comment.user.username %></p>
					<% if current_user.id == comment.user_id %>
					<%= button_to "X", student_comment_path(@student, comment), :method => "delete", :class => "destroy"%><%= link_to "Edit Comment", student_comment_path(@student,comment) %>
					<% end %>
				</div>
				<% end %>
			<% end %>
		</div>

	</div>
</div>
<%= content_tag :div, class: "student_list", id: "studentshow", data: {student: @s1_data_hash} do %>
<%end%>
