<div class="page">
	<div class="left-page">
		<div class="address-container">
			<p>
				<span class="g-name"><strong><%= @student.guardian_names %></strong></span></br>
				<span><%= @student.mailing_street_1 %></span></br>
				<span><%= @student.mailing_street_2 %></span></br>
				<span><%= @student.mailing_city %></span>
				<span><%= @student.mailing_zip %></span>
			</p>
		</div>
		<% if @student.hs_summer_school(2801).count > 0 %>
			<div class="section-group">
				<h2>Summer School</h2>
				<div class="student-sections">
					<% @student.hs_summer_school(2801).each do |section| %>
						
							<div class="hs-section">
								<div class="section-header">
									<span class="course-name"><%= section.course.course_name %></span> - 
									<span class="instructor-name"><%= section.teacher.lastfirst %></span><br>
								</div>
								<div class="hs-section-grades">
									<div class="hs-table">
										<table>
											<tr>
												<th></th>
												<th align="center" class="semester-heading-cell">S1</th>
												<th align="center" class="semester-heading-cell">S2</th>
											</tr>
											<tr class="academic-row">
												<td class="academic-cell"><span class="academic-label">Academic Achievement</span></td>
												<td align="center"><%= @student.trad_grade_per_section(section) %></td>
												<td align="center"></td>
											</tr>
											<tr>
												<td><span class="hom-label">Habits of Mind</span></td>
											</tr>
											<% @student.grades_per_section(section).each do |grade| %>
												<% if grade.standard.hom? %>
													<tr>
														<td style="padding-left:10px;"><%= grade.standard.standard_name %></td>
														<td align="center" ><%= grade.grade %></td>
													</tr>
												<% end %>
											<% end %>
										</table>
									</div>
								</div>
							</div>

					<% end %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="right-page">
		<div class="ms-header">
			<div id="header">
	    	<%= image_tag wicked_pdf_asset_base64('ris-header.svg'), class: 'reportcard-header-image' %>
	    	</div>
			<h2><%= @student.school.name %></h2>
			<h3>Semester 1 Report Card 2018-19</h3>
		</div>
		<hr>
		<div class="div-container">
			<div class="left-div student-photo-container">
				<%= image_tag wicked_pdf_asset_base64("#{@student.ps_id}ph.jpeg"), class: 'student-reportcard-image' %>
			</div>
			<div class="middle-div student-text-info">
				<span class="student-name"><%= @student.lastfirst %></span><br></br>
				<span>ID: <%= @student.student_number %></span><br></br>
				<span>Advisory Teacher: <%= @student.homeroom.teacher.lastfirst %></span>
			</div>
			<div class="right-div student-text-right">
				<span>Grade <%= @student.grade_level %></span><br></br>
				<span>December 18th, 2018</span>
			</div>
		</div>

		<div class="pop">
			<h4>Principles of the Phoenix</h4>
			<span>Head, Hands, and Heart</span>
			<p class="pop-motto">RIS students are creative, open minded and critical thinkers. They are effective communicators and are collaborative and resourceful individuals; they embrace diversity. They are committed to leading happy and healthy lives and help others to do the same.</p>
			<hr>
			<p><strong>Self-Reflection: </strong>
				<%#= @student.homeroom_quarter_comment %>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat, mauris et aliquam pellentesque, nisi mauris imperdiet elit, et ultricies augue magna id neque. Aliquam nec nunc hendrerit, aliquam mi vel, blandit nisi. Nam nec finibus arcu. Nulla a neque non eros vehicula commodo non sit amet enim. Curabitur volutpat placerat dapibus. Praesent accumsan condimentum purus, in facilisis nisl feugiat at. In ut mollis erat, vitae vestibulum tellus. Integer id imperdiet arcu. In hac habitasse platea dictumst. Maecenas pellentesque iaculis quam, at auctor ante rutrum sed. Suspendisse ultricies ante ac mauris tincidunt, sed feugiat est lacinia.
				Morbi volutpat consectetur libero, ut molestie velit pharetra vitae. Integer non tellus nec nisl malesuada vulputate ac placerat lectus. Curabitur eget tellus scelerisque metus placerat vehicula non ac tellus. Proin ut suscipit est. Vivamus ac accumsan ante, ac aliquam magna. Nunc commodo erat at facilisis rutrum. Suspendisse quis facilisis augue. Praesent ultricies ultrices arcu id iaculis. Quisque faucibus, nibh sed sagittis tincidunt, urna lacus fringilla velit, sed ultricies mi augue sed purus. Donec libero nulla, venenatis at eleifend semper, pulvinar quis arcu. Nullam vel nunc ultricies est auctor dapibus. Phasellus rhoncus ligula in diam pellentesque, vel luctus libero auctor. Etiam vel nisi eget ipsum blandit ultricies in vehicula ligula. Ut quis ultrices dolor. Nunc scelerisque, augue quis mattis rhoncus, risus nisl facilisis erat, in eleifend ante mi ac felis.
				Mauris rhoncus nulla et tellus sollicitudin dictum. Aliquam ac enim viverra, facilisis urna at, imperdiet tellus. Sed ultrices dignissim nibh, convallis rhoncus diam dapibus id. Nam lobortis sodales tortor id mattis. Maecenas justo metus, porttitor non lacus nec, feugiat volutpat sapien. Etiam vehicula in leo vitae ornare. Fusce ultrices sapien vitae risus sagittis, cursus cursus dolor sollicitudin.
				Morbi pretium faucibus ex, eu hendrerit dolor feugiat et. Ut iaculis at urna non pretium. Cras vitae mollis ligula. Cras gravida orci velit, vitae ornare dolor viverra quis. Duis tristique ligula facilisis neque iaculis, non faucibus quam bibendum. Suspendisse eget porta elit, vel laoreet leo. Nullam rutrum in sem et bibendum.
			</p>
		</div>
		<table align="center">
			<tr>
				<th>Course Name</th>
				<th>Absences</th>
				<th>Teacher</th>
				<th>Email</th>
			</tr>
			<% @sections.each do |section| %>
			<tr>
				<td><%= section.course.course_name %></td>
				<% if @student.attendances.find_by(section_id: section.id) %>
				<td><%= @student.attendances.find_by(section_id: section.id).absences %></td>
				<% else %>
				<td>0</td>
				<% end %>
				<td><%= section.teacher.lastfirst %></td>
				<td><%= section.teacher.email %></td>
			</tr>
			<% end %>
		</table>
		

		<div class="eval-key test">
			<h4>Academic Evaluation Key</h4>
			<ul>
				<li><strong>A:</strong> a consistent and thorough understanding of knowledge and skills, and the ability to apply them accurately in a wide variety of situations.</li>
				<li><strong>B:</strong> a consistent and thorough understanding of knowledge and skills, and the ability to apply them in a variety of situations.</li>
				<li><strong>C:</strong> a good general understanding of knowledge and skills, and the ability to apply them in normal situations.</li>
				<li><strong>D:</strong> some understanding of knowledge and skills, and the ability to apply them with support.</li>
				<li><strong>F:</strong> limited understanding of knowledge and skills, and unable to apply them.</li>
			</ul>
		</div>
		
		<div class="signature">
			<p class="signature-line"></p>
			<p class="signature-label">Principal's Signature</p>
		</div>
	</div>
</div>
<div class="page">
	<div class="left-page">
		<div class="hs-tables">
		<div class="grade-system-table">
				<h3>Grading System</h3>
				<table>
					<tr>
						<th>Percentage Value</th>
						<th>Letter Grade</th>
						<th>Regular Grade Point</th>
						<th>Weighted Grade Point</th>
					</tr>
					<tr>
						<td>93 - 100%</td>
						<td>A</td>
						<td>4.0</td>
						<td>4.5</td>
					</tr>
					<tr>
						<td>90 - 92%</td>
						<td>A-</td>
						<td>3.67</td>
						<td>4.17</td>
					</tr>
					<tr>
						<td>87 - 89%</td>
						<td>B+</td>
						<td>3.33</td>
						<td>3.83</td>
					</tr>
					<tr>
						<td>83 - 86%</td>
						<td>B</td>
						<td>3.00</td>
						<td>3.5</td>
					</tr>
					<tr>
						<td>80 - 82%</td>
						<td>B-</td>
						<td>2.67</td>
						<td>3.17</td>
					</tr>
					<tr>
						<td>77 - 79%</td>
						<td>C+</td>
						<td>2.33</td>
						<td>2.83</td>
					</tr>
					<tr>
						<td>73 - 76%</td>
						<td>C</td>
						<td>2.00</td>
						<td>2.5</td>
					</tr>
					<tr>
						<td>70 - 72%</td>
						<td>A-</td>
						<td>1.67</td>
						<td>2.17</td>
					</tr>
					<tr>
						<td>67 - 69%</td>
						<td>D+</td>
						<td>1.33</td>
						<td>1.33</td>
					</tr>
					<tr>
						<td>63 - 66%</td>
						<td>D</td>
						<td>1.00</td>
						<td>1.00</td>
					</tr>
					<tr>
						<td>60 - 62%</td>
						<td>D-</td>
						<td>0.67</td>
						<td>0.67</td>
					</tr>
					<tr>
						<td>0 - 59%</td>
						<td>F</td>
						<td>0.00</td>
						<td>0.00</td>
					</tr>
					<tr>
						<td>N/A</td>
						<td>P</td>
						<td>N/A</td>
						<td>N/A</td>
					</tr>

				</table>
			</div>
			<div class="right-tables">
				<h3>Progress Summaries</h3>
				<div class="gpa-summary-table">
					<table>
						<tr>
							<th>GPA Summary</th>
							<th>Sem 1</th>
							<th>Sem 2</th>
							<th>Year</th>
						</tr>
						<tr>
							<td>Grade 9</td>
							<td><%= @student.transcript.g9_sem1_gpa %></td>
							<td><%= @student.transcript.g9_sem2_gpa %></td>
							<td><%= @student.transcript.g9_cumulative_gpa %></td>
						</tr>
						<% if @student.grade_level.to_i >= 10 %>
							<tr>
								<td>Grade 10</td>
								<td><%= @student.transcript.g10_sem1_gpa %></td>
								<td><%= @student.transcript.g10_sem2_gpa %></td>
								<td><%= @student.transcript.g10_cumulative_gpa %></td>
							</tr>
						<% end %>
						<% if @student.grade_level.to_i >= 11 %>
							<tr>
								<td>Grade 11</td>
								<td><%= @student.transcript.g11_sem1_gpa %></td>
								<td><%= @student.transcript.g11_sem2_gpa %></td>
								<td><%= @student.transcript.g11_cumulative_gpa %></td>
							</tr>
						<% end %>
						<% if @student.grade_level.to_i >= 12 %>
							<tr>
								<td>Grade 12</td>
								<td><%= @student.transcript.g12_sem1_gpa %></td>
								<td><%= @student.transcript.g12_sem2_gpa %></td>
								<td><%= @student.transcript.g12_cumulative_gpa %></td>
							</tr>
						<% end %>
						<tr>
							<td><strong>Cumulative Weighted GPA</strong></td>
							<td></td>
							<td></td>
							<td><strong><%= @student.transcript.cumulative_gpa %></strong></td>
						</tr>
						
					</table>
				</div>
				<div class="credit-summary-table">
					<table>
						<tr>
							<th>Credit Summary</th>
							<th>Credits Earned</th>
						</tr>
						<tr>
							<td>English</td>
							<td><%= @student.transcript.eng_credit %></td>
						</tr>
						<tr>
							<td>Mathematics</td>
							<td><%= @student.transcript.mat_credit %></td>
						</tr>
						<tr>
							<td>Science</td>
							<td><%= @student.transcript.sci_credit %></td>
						</tr>
						<tr>
							<td>Social Studies</td>
							<td><%= @student.transcript.soc_credit %></td>
						</tr>
						<tr>
							<td>Performing / Visual Arts</td>
							<td><%= @student.transcript.arts_credit %></td>
						</tr>
						<tr>
							<td>PE</td>
							<td><%= @student.transcript.pe_credit %></td>
						</tr>
						<tr>
							<td>Religion / Values</td>
							<td><%= @student.transcript.rel_credit %></td>
						</tr>
						<tr>
							<td>Modern / Thai Language</td>
							<td><%= @student.transcript.mod_credit %></td>
						</tr>
						<tr>
							<td>Health</td>
							<td><%= @student.transcript.health_credit %></td>
						</tr>
						<tr></tr>
						<tr>
							<td><strong>Total Credits</strong></td>
							<td><strong><%= @student.transcript.total_credit %></strong></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="section-group">
			<div class="student-sections">
				<% @sections[0..3].each do |section| %>
					<% if section.section_number != "SS" %>
						<div class="hs-section">
							<div class="section-header">
								<span class="course-name"><%= section.course.course_name %></span> - 
								<span class="instructor-name"><%= section.teacher.lastfirst %></span><br>
							</div>
							<div class="hs-section-grades">
								<div class="hs-table">
									<table>
										<tr>
											<th></th>
											<th align="center" class="semester-heading-cell">S1</th>
											<th align="center" class="semester-heading-cell">S2</th>
										</tr>
										<tr class="academic-row">
											<td class="academic-cell"><span class="academic-label">Academic Achievement</span></td>
											<td align="center"><%= @student.trad_grade_per_section(section) %></td>
											<td align="center"></td>
										</tr>
										<tr>
											<td><span class="hom-label">Habits of Mind</span></td>
										</tr>
										<% @student.grades_per_section(section).each do |grade| %>
											<% if grade.standard.hom? %>
												<tr>
													<td style="padding-left:10px;"><%= grade.standard.standard_name %></td>
													<td align="center" ><%= grade.grade %></td>
												</tr>
											<% end %>
										<% end %>
									</table>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="right-page">
		<div class="section-group">
			<div class="student-sections">
				<% @sections[4..-1].each do |section| %>
					<% if section.section_number != "SS" %>
						<div class="hs-section">
							<div class="section-header">
								<span class="course-name"><%= section.course.course_name %></span> - 
								<span class="instructor-name"><%= section.teacher.lastfirst %></span><br>
							</div>
							<div class="hs-section-grades">
								<div class="hs-table">
									<table>
										<tr>
											<th></th>
											<th align="center" class="semester-heading-cell">S1</th>
											<th align="center" class="semester-heading-cell">S2</th>
										</tr>
										<tr class="academic-row">
											<td class="academic-cell"><span class="academic-label">Academic Achievement</span></td>
											<td align="center"><%= @student.trad_grade_per_section(section) %></td>
											<td align="center"></td>
										</tr>
										<tr>
											<td><span class="hom-label">Habits of Mind</span></td>
										</tr>
										<% @student.grades_per_section(section).each do |grade| %>
											<% if grade.standard.hom? %>
												<tr>
													<td style="padding-left:10px;"><%= grade.standard.standard_name %></td>
													<td align="center" ><%= grade.grade %></td>
												</tr>
											<% end %>
										<% end %>
									</table>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="grade-key-info-container">
			<div class="hom-key box test">
				<h4>Habits of Mind</h4>
				<ul>
					<li><strong>E: </strong>Exceeding expectations</li>
					<li><strong>M: </strong>Meeting expectations</li>
					<li><strong>N: </strong>Not meeting expectations</li>
				</ul>
			</div>
		</div>
	</div>
</div>



