<h1>Master Schedule</h1>
<h2><%= School.ms.name %> - 18/19</h2>
<div class="master-schedule-key">
	<ul class="master-schedule-key">
		<% @departments.each do |department| %>
			<li><%= department.name %><span class="dot department-<%= department.name %>"></span></li>
		<% end %>
	</ul>
</div>
<%= link_to "Export as PDF", sections_path(format: 'pdf') %>
<table border="1" width: '100%'>
	<col style="width:.1%">
	<!-- <col style="width:19%">
	<col style="width:19%">
	<col style="width:19%">
	<col style="width:19%">
	<col style="width:19%"> -->
	
	<thead>
	<tr>
		<th></th>
		<% @periods.each do |period| %>
			<th><%= period %></th>
		<% end %>
	</tr>
	<thead>
	<% @days.each_with_index do |day, index| %>
	<tr>
		<td class="table-day"><%= day %></td>
		<% @periods.each do |period|%>
			<td class="matrix-cell" >
				<% @sections.select{|s| s.in_matrix_position?(period, day)}.each do |section| %>
					
					<div class="section-master-schedule department-<%= section.course.department ? section.course.department.name : 'none'%> %>"><%= link_to section.course.course_name, course_path(section.course) %> (<%= section.students.count %>) - <%= link_to section.course.course_number + '.' + section.section_number, section_path(section)%> - <small><%= link_to section.teacher.lastfirst, teacher_path(section.teacher) %></small></div>
					
				<% end %>
			</td>
		<% end %>
		</tr>
	<% end %>

</table>