<h1><%= link_to @section.course.course_name, course_path(@section.course) %> - <%= @section.course.course_number %>.<%= @section.section_number %></h1>
<div class="data-container">
	<h4>Teacher: <%= link_to @section.teacher.lastfirst, teacher_path(@section.teacher) %></h4>
	<h4>Term: <%= @section.term.term_code %></h4>
	<h4>Grade: <%= @section.grade_level %></h4>

	<h4>Enrolled Students</h4>
	<ol>
	<% @section.students.each do |student| %>
		<li><%= link_to student.lastfirst, student_path(student) %> - <%= student.student_number %></li>
	<% end %>
	</ol>
</div>