<h1><%=@course.course_name%></h1>

<h2>Sections</h2>
<ul>
<% @course.sections.each do |section| %>
	<li><%= link_to @course.course_number + "." + section.section_number, section_path(section) %> - <%= link_to section.teacher.lastfirst, teacher_path(section.teacher) %> - <%= section.students.count %></li>
<% end %>
</ul>


<h4>Standards Associated with this Course</h4>
<ul>
<% @course.standards.each do |standard| %>
	<li><%= link_to standard.identifier, standard_path(standard) %> - <%= standard.standard_name %></li>
<% end %>
</ul>



