<h1><%= @standard.standard_name %> - <%= @standard.identifier %></h1>

<div class="data-container">
<h4>Courses associated with this standard</h4>
<% @standard.courses.each do |course| %>
	<p><%= course.course_name %></p>
	<%#= link_to course.course_name, course_path(course), class: "course-link", data: {courseid: course.id} %>
<% end %>
	
<h4>All grades for this standard</h4>
<p>Choose a year</p>

<%= form_tag "/standards/#{@standard.id}/grades_per_term" do %>
	<%= select_tag "Year", options_from_collection_for_select(@terms, "id", "term_code"), :include_blank => 'All Years' %>
	<%= select_tag "Grade Level", options_for_select(@grade_levels), :include_blank => 'All Grade Levels' %>
<% end %>

<canvas id="standard-data-container">
	
</canvas>

<div id="standard-id" data-standard="<%= @standard.id %>"></div>
