<h1>Generate a Report</h1>

<!-- <a href="/report-cards">All Current Report Cards</a> -->
<ul>
<li><%= link_to "All Quarter 1 Report Cards", '/q1-report-cards.pdf' %> - Don't click unless you have some time to kill</li>
<li><%= link_to "All MS Sem 1 Report Cards", '/ms-report-cards.pdf' %></li>
<li><%= link_to "All HS Sem 1 Report Cards", '/hs-report-cards.pdf' %></li>
<li><%= link_to "All ES Sem 1 Report Cards", '/es-report-cards.pdf' %></li>
<li>
	<span>By Homeroom: </span>
	<%= form_tag("/es-report-cards", method: "post") do %>
		<select name="homeroom">
			<% Section.es_homerooms.each do |section| %>
				<option name="homeroom" value=<%= section.id %> ><%= section.teacher.lastfirst %> - <%= section.course.course_name %></option>
			<% end %>
		</select>
		<%= submit_tag "Submit" %>
	<% end %>
</li>
</ul>