<%# content_for :header do  %>
  <header>
    <div class="flex-container">
      <div class="logo">
        <a href="/"><h1>Profiles</h1></a>
      </div>
      <div class="session-links">
        <ul>

        <% if current_user.present? %>
          <li>Welcome <%= current_user.username %> <img src=<%= current_user.image_url %> height="42" width="42" ></li>         
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>          
          <li><%= link_to "Login", login_path %></li>
          <li><%= link_to "Log via Google", "/auth/google_oauth2" %></li>
          <li><%= link_to "Sign Up", signup_path %></li>
        <% end %>

        </ul>
      </div>
    </div>
  </header>
<%# end %>