<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
      
  </head>
  <%= content_tag :body, data: {action: action_name, controller: controller_name } do %>
  <main>
    <%= render partial: 'layouts/header' %>
    <div class="main-container">
      <%= render partial: 'layouts/sidebar' %>
      <div class="content-container">
         <%= yield %>
      </div>
    </div>

  </main>
  <% end %>
</html>
